{% extends 'layout.html.twig' %}
{% block apropos %}
    <section class="container mb-4">
        <!--Section heading-->
        <div class="row">
            <img src="https://zupimages.net/up/19/46/9v2k.jpg" class="col-6 mx-auto apropos_image" alt="fantasylandscape">
        </div>
        <h1 class="h1-responsive font-weight-bold text-center mt-2 pb-5">A Propos</h1>
        <p class="col-12 mt-3 pb-5">
            Book Story, ou « l'Histoire dont vous êtes le héro » est un site web français conçus en novembre 2019 pour un groupe de quatre étudiants de la Wild Code School de Tours.
        </p>
        <p class="col-12 mt-3 pb-5">
            Marie Rabouin, Sébastien Comberousse, Vincent Duguet et Quentin Moreau, sont à l'origine de ce projet ayant pour objectif de faire vivre à l'utilisateur une suite de situations sous forme d'aventure qui mettra en scène un personnage, parfois atypique, choisis au préalable.
        </p>
        <p class="col-12 mt-3 pb-5">
            Dans cette aventure, l'utilisateur devra faire appel à ses convictions et à son discernement pour pousser son personnage jusqu'à son objectif et défier les différents obstacles qu'il va rencontrer.
        </p>
        <p class="col-12 mt-3 pb-5">
            L'équipe cherche avant tout grâce à ce projet a proposer une expérience intéressante et immersive aux utilisateurs, la faisant évoluer au fur et à mesure du temps jusqu'à créer une véritable application complète.
        </p>
        <p class="col-12 mt-3 pb-5">
            Nous remercions le furret, choix atypique correspondant à l’animal totem de Vincent Duguet ainsi que Romano Del fallet, personnage clin d’oeil se rattachant à notre formateur Romain fallet dont le soutien nous est précieux.
        </p>
        <p class="col-12 mt-3 pb-5">
            À terme, Book Story deviendra un receuil d'aventure aux choix multiples et à la sélection intéressante, développant une multitude de fonctionnalité et d'expériences au design poussé.
        </p>
        <p class="col-12 mt-3 pb-5">Version Bêta 0.5</p>
        <p class="col-12 mt-3 pb-5">Team.</p>
    </section>
{% endblock %}
