{% extends 'layout.html.twig' %}

{% block conditions %}
    <h1 class="col-12 mt-3 story_div_h1">0. Déffinitions.</h1>

    Client : tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.
    Prestations et Services : https://stakeshare.org/ met à disposition des Clients :
    Contenu : Ensemble des éléments constituants l’information présente sur le Site, notamment textes – images – vidéos.
    Informations clients : Ci-après dénommé « Information (s) » qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par https://stakeshare.org/ pour la gestion de votre compte, de la gestion de la relation client et à des fins d’analyses et de statistiques.
    Utilisateur : Internaute se connectant, utilisant le site susnommé.
    Informations personnelles : « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
    Les termes « donnés à caractère personnel », « personne concernée », « sous-traitant » et « données sensibles » ont le sens défini par le Règlement général sur la Protection des Données (RGPD : n° 2016-679)


    1. Présentation du site internet.

    En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet https://stakeshare.org/ l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :

    Propriétaire : StakeShare
    Responsable publication : Quentin M. – info@staking.live
    Le responsable publication est une personne physique ou une personne morale.
    Webmaster : Jim E. – info@staking.live
    Hébergeur : ovh – 2 rue Kellermann 59100 Roubaix 1007
    Délégué à la protection des données : Quentin M. – info@staking.live

{% endblock %}