{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Salutations héro !</h1>
    <p>Bienvenue dans votre histoire...</p>
    <p>Voici la liste des classes disponibles :</p>

    <ul>
        <li>Soldat</li>
        <li>Cuisinier</li>
        <li>Chien</li>
        <li>Voleur</li>
    </ul>

{% endblock %}
