{% extends 'layout.html.twig' %}

{% block legendes %}
    <h1 class="col-12 mt-3 story_div_h1">Présentation Humain</h1>
    <p class="col-12 story_div_p">
        Soldat dans la garde royale depuis votre plus jeune âge, tout vous a toujours souri. Argent, amour, conquête et survie. Les années ont passé dans le plus grand des calmes.
        Hormis quelques combats d’ivrognes dans la taverne du coin, rien de bien spectaculaire venait gâcher votre quotidien.
        Jusqu’au jour où vous vous êtes retrouvé confronté à un trafic noir et pervers.
        À l'aide de la plus grande Mafia de votre temps exerçant normalement loin des terres de votre roi, nombre de nobles ont commencé un commerce d’esclaves des plus malsains.
    </p>
    <p class="col-12 story_div_p">Votre partenaire de vie en fut une victime.</p>
{% endblock %}