body
{
    background-color: whitesmoke;
}
p
{
    font-family: acumin-pro;
}
.story_img
{
    height: 60vh;
}
img.slide_div_carousel_img--height.d-block.w-100
{
    border-radius: 3px;
}
.slide_div_carousel_img--height
{
    height: 50vh;
}
.row .caractere_form
{
    flex-direction: column;
}

.footer_div {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 1030;
    display: flex;
    flex-direction: column;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.paddingbutton {
    margin-bottom: 3rem!important;
} 
h1 {
    margin-top: 3rem;
}