@font-face {
    font-family: "Morris";
    src: url("/assets/fonts/morris_roman/MorrisRomanBlack.ttf");
   }


body
{
    font-family: "Morris";
    background: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-wood-grain-parchment-background-material-image_162557.jpg);
    background-size:cover ;
    
}

main
{
    margin-top: 4em;
    margin-bottom: 3em;
}
p
{
    font-size: 1.2em;
    
    text-align: justify;
}
li
{
    font-size: 0.8em;
}
h1 {
    font-family: "Morris";
    font-size: 1.5em;
}
@keyframes opacityAnim{
    0% {opacity: 0};
    100% {opacity: 1};
}
.story_img
{
    height: 60vh;
    /* -webkit-animation: fade-in 8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */
    /* animation: fade-in 8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;  */
    animation-name:opacityAnim;
    animation-duration:6s;
}
img.slide_div_carousel_img--height.d-block.w-100
{
    border-radius: 3px;
}
.slide_div_carousel_img--height
{
    height: 50vh;
}
.row .caractere_form
{
    flex-direction: column;
}

.footer_div {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 1030;
    display: flex;
    flex-direction: column;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.paddingbutton {
    margin-bottom: 3rem!important;
} 

.apropos_image {
    
    border-radius: 20px;
}

.audio {
    text-align: center;

    margin: 20px;
    padding: 20px;
}

/* .slide_div_slide_h1 {display : none} */

@media (min-width: 600px) { 
    .slide_div_slide_h1 {display : block};
    .p
    {
        font-size: 1em;
    }
    li
    {
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
 }

 .story_div {
     display: flex;
     justify-content: center;
     flex-direction: row;
 }
 .carousel-text {
     text-align: center;
 }

 img.card-img-top {
     height: 28rem;
 }
 .color-background {
        background-color: rgba(255, 255, 255, 0.6);
    
 }
 @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  .text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}