{% extends 'layout.html.twig' %}

{% block stage %}
    <div class="audio">
        <audio controls="controls" loop>
            <source src="/assets/audio/epic01.mp3" type="audio/mp3" />
            <source src="/assets/audio/epic01.aac" type="audio/aac" />
            <source src="/assets/audio/epic01.ogg" type="audio/ogg" />
            Votre navigateur n'est pas compatible
        </audio>
    </div>
{{stage.content|raw}}  
{% endblock %}
