{% extends 'layout.html.twig' %}

{% block stage3fuite %}
    <!--ETAPE NUMERO TROIS FUITE-->
    <section class="container story">
        <div class="row story_div_h1">
            <h1 class="col-12 mt-3 story_div_h1">Vous commencez à courir pour échapper aux grognements qui vous suivent !</h1>
            <img src="https://zupimages.net/up/19/45/9wkc.gif" class="col-12 mb-3 story_img" alt="image">
        </div>
        <div class='row story_div_row'>
            <p class='col-12 story_div_p'>
                Vous ne sentez plus la douleur de votre blessure empoisonnée, ni votre fatigue et votre faiblesse. Vos pas s’enchaînent avec
                rapidité et fluidité tant l’adrénaline envahit votre corps. Vous esquivez les obstacles devant vous avec
                facilité, prêt à frapper le loup s’il vient à porter de lame.
            </p>
            <p class='col-12 story_div_p'>
                La bête approche petit à petit, cherche à vous mordre de loin sans oser vous sauter au cou. Vous
                remarquez le sang qui s’accumule sur votre lame, et les glapissements de l’animal vous font comprendre
                que vous l’avez grièvement blessé. Devant vous, vous voyez la sortie de la forêt. Vous réussissez à
                l’atteindre et vous retrouvez sur une route. Le loup stoppe sa course et reste tapis entre les arbres.
            </p>
            <p class='col-12 story_div_p'>
                Vous vous éloignez et trouvez refuge contre un buisson. Vous restez immobile un long moment
                pour retrouver des forces. Une chance pour vous car quelques minutes plus tard vous entendez des voix
                crier au loin. Des bruits de pas cours dans votre direction et vous remarquez les sbires de del Fallet arriver
                dans votre direction.
            </p>
            <p class='col-12 story_div_p'>Vous avez l’effet de surprise. Allez-vous les attaquer de front ou attendre qu’ils passent en essayant de rester discret ?</p>
            <img src="https://zupimages.net/up/19/45/8f7k.jpg" class="col-12 story_img" alt="image">
            <p class='col-12 story_div_p pt-3'>Quel choix faîtes vous ?</p>
            <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 story_div_path" data-toggle="buttons">
                <label class="btn btn-secondary active story_path_label" for='a'>
                    <input type="radio" name="a" id="a" autocomplete="off" checked> Vous volez et tuez les sbires
                </label>
                <label class="btn btn-secondary story_path_label" for='b'>
                    <input type="radio" name="b" id="b" autocomplete="off"> Vous laissez passer les sbires
                </label>
            </div>
        </div>
        <div class='row story_div'>
            <button type="button" class="btn btn-dark mx-auto mb-3 row story_div_button">Continuer l'aventure!</button>
        </div>
    </section>
{% endblock %}