{% extends 'layout.html.twig' %}

{% block stage2foret %}
<!--ETAPE NUMERO DEUX FORÊT-->
<section class='container story'>
    <div class='row story_div_h1'>
        <h1 class='col-12 mt-3 story_div_h1'>Le dos courbé et les épaules voûtées..</h1>
        <img src="https://zupimages.net/up/19/45/4tcr.jpg" class="col-12 mb-3 story_img" alt="image">
    </div>
    <div class='row story_div_row'>
        <p class='col-12 story_div_p'>Vous commencez à monter aussi vite que vous le pouvez.
            La pente est des plus ardus. Vous sentez vos muscles se raidirent puis s’enflammer au fil des mètres qui
            se succèdent. Votre blessure handicap vos mouvements et votre avancer. Comme vous le redoutiez, des
            voix s’élèvent derrière vous. Trois sbires Del Fallet vous ont repéré et cours dans votre direction. Ils
            gagnent rapidement du terrain. Vous continuez votre course effrénée pour vous échapper.</p>
        <p class='col-12 story_div_p'>Au loin vous apercevez un pont en piteux état. Vous craignez qu’il ne cède sous votre poids, mais si vous
            décidez de l’éviter vous perdriez une avance cruciale et vous retrouverez face à face. Peut-être pouvez les
            combattre.</p>
        <img src="https://zupimages.net/up/19/45/0jwt.jpg" class="col-12 story_img" alt="image">
        <p class='col-12 story_div_p pt-3'>Que faîtes vous ?</p>
        <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 story_div_path" data-toggle="buttons">
            <label class="btn btn-secondary active story_path_label" for='a'>
                <input type="radio" name="a" id="a" autocomplete="off" checked> Eviter le pont
            </label>
            <label class="btn btn-secondary story_path_label" for='b'>
                <input type="radio" name="b" id="b" autocomplete="off"> Emprunter le pont
            </label>
        </div>
    </div>
    <div class='row story_div'>
        <button type="button" class="btn btn-dark mx-auto mb-3 row story_div_button">Continuer l'aventure!</button>
    </div>
</section>
{% endblock %}