{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Debut de la section de story  -->
    <section class='container story'>
        <div class='row story_div_h1'>
            <h1 class='col-12 mt-3 story_div_h1'>Lorem ipsum veritatis?</h1>
            <img src="https://via.placeholder.com/150x150" class="col-12 mb-3 story_img" alt="image">   
        </div>
        <div class='row story_div_row'>
            <p class='col-12 story_div_p'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur suscipit quos tempora vero, adipisci libero nobis id, pariatur possimus eveniet molestias earum nesciunt. Consectetur odit at, accusamus ducimus ea neque saepe eum id libero, fuga reprehenderit illum recusandae magni perspiciatis modi assumenda. Libero, aliquam quis doloremque minima enim itaque culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptate mollitia! Cumque rem esse quas, saepe quam explicabo autem consectetur harum pariatur error animi quo, ad reiciendis, totam culpa. Similique amet numquam possimus corporis enim maiores aliquid tenetur? Sunt nesciunt qui iste maxime eveniet blanditiis repellat molestiae est accusantium nostrum?</p>
            <img src="https://via.placeholder.com/150x150" class="col-12 story_img" alt="image">
            <p class='col-12 story_div_p'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, perspiciatis!</p>
            <div class="btn-group btn-group-toggle mx-auto mb-3 mt-3 story_div_path" data-toggle="buttons">
                <label class="btn btn-secondary active story_path_label" for='a'>
                    <input type="radio" name="a" id="a" autocomplete="off" checked> Chemin A
                </label>
                <label class="btn btn-secondary story_path_label" for='b'>
                    <input type="radio" name="b" id="b" autocomplete="off"> Chemin B
                </label>
                <label class="btn btn-secondary story_path_label" for='c'>
                    <input type="radio" name="c" id="c" autocomplete="off"> Chemin C
                </label>
            </div>
        </div>
            <div class='row story_div'>
                <button type="button" class="btn btn-dark mx-auto mb-3 row story_div_button">Continuer l'aventure!</button>
            </div>
        </section>
{% endblock %}